**/.DS_Store
.vscode/**
**/*.ts
**/tsconfig.json
**/tslint.json
scripts/*
.gitignore
.gitmodules
.venv
.python-version


pythonFiles/libs/**
!pythonFiles/libs/importmagic/importmagic/**/*
!pythonFiles/libs/isort/isort/**/*
!pythonFiles/libs/whoosh/src/**/*
